asgiref==3.2.10
dj-database-url==0.5.0
Django==3.1.2
django-heroku==0.3.1
djangorestframework==3.12.2
et-xmlfile==1.1.0
gevent==20.9.0
greenlet==1.0a1
gunicorn==20.0.4
lml==0.1.0
openpyxl==3.0.7
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyexcel-io==0.6.4
pyexcel-xlsx==0.6.0
pytz==2020.1
sqlparse==0.4.1
whitenoise==5.2.0
zope.event==4.5.0
zope.interface==5.2.0
