<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HM Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/hmtool/css/cover.css" rel="stylesheet">
      

    {% block css %}{% endblock%}  

  </head>

  <body class="text-center">

    <div class="column w-100" id="app" style="background-color: white;">

    
        <div class="w-100" style="background-color: white;height: 60px;"> 
            <img src="/static/hmtool/pic/logo.png" style="width: 60px; height: 30px;margin-top: 15px;">
        </div>
        <div class="w-100 nav-wrapper"> 
          <div class="col-10 col-centered " style="max-width: 864px;">
            <div class='col-12 col-lg-8 d-flex flex-row px-0'>
              
              
              <div class='col-3 tool-nav user-select-none'  onclick="location.href='./';">销售明细账转换</div>
              
            </div>
          </div>
        </div>
    

    {% block main %}{% endblock%}



  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/static/hmtool/js-xlsx/jszip.js"></script>
<script src="/static/hmtool/js-xlsx/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pptxgenjs@3.7.0/dist/pptxgen.bundle.js"></script>

{% block js %}{% endblock%}