{% extends 'hmtool/base.html'%}


{% block main %}
        <div class="w-100" style="background-color: #F3C583;height: 400px;"> 
        </div>

        <div class="col-10 col-centered upload-area" id="upload"  @dragover="dragover" @dragleave="dragleave" @drop="drop" >
          <div class="column">
            <div style="height: 150px;padding-top: 100px;color: black;">
              
              <span data-feather="file-plus" style="stroke-width:0.5;width: 80px;height: 80px;color:#444444"></span>
              

            </div>
            <div style="height: 100px;padding-top: 50px;color: black;">
              <p>请点击上传或者拖进文件</p>

            </div>
            <div style="height: 150px;padding-top: 10px;">
              <input @change="upload" type="file" id="file" ref="file" class="form-control hide" multiple="" >
              <button class="btn btn-upload" @click="get_file">上传</button>

  
            </div>
            
          </div>
        </div>
        <div class="col-10 col-centered uploading-area hide" id="uploading">
          <div class="column">
            <div style="height: 150px;padding-top: 100px;color: black;">
              <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div style="height: 100px;padding-top: 50px;color: black;">
              
              <p>[[file_name]] 上传中...</p>
              

            </div>
            <div style="height: 150px;padding-top: 10px;">             
              <button class="btn btn-cancel" onclick="location.href='/'">取消</button>
            </div>    
          </div>
        </div>
        <div class="col-10 col-centered uploading-area hide" id="uploaded">
          <div class="column">
            <div style="height: 150px;padding-top: 80px;color: black;">
              <div>
                <span data-feather="check-circle" style="stroke-width:1.5;width: 70px;height: 70px;color:#B3E283;"></span>
              </div>
             

            </div>
            <div style="height: 50px;padding-top: 30px;color: black;">
              <p>转换完成</p>

            </div>
            <div style="height: 200px;padding-top: 30px;">
              
              <div class="row justify-content-center my-3">
                <button class="btn btn-download">下载PPT分析</button>
                 
              </div>
              <div class="row justify-content-center my-3">
                <button class="btn btn-download-excel" @click="export_excel">下载Excel分析</button>
                 
              </div>
              
  
            </div>
            
          </div>
        </div>
        <div class="col-10 col-centered uploading-area hide" id="uploaded-error">
          <div class="column">
            <div style="height: 150px;padding-top: 100px;color: black;">
              <div>
                 <span data-feather="x-circle" style="stroke-width:1.5;width: 70px;height: 70px;color:#D83A56;"></span>
              </div>
             

            </div>
            <div style="height: 50px;padding-top: 50px;color: black;">
              <p>Excel数据格式不对 请重新上传</p>

            </div>
            <div style="height: 200px;padding-top: 30px;">
              
              <div style="height: 150px;padding-top: 30px;">

                <a  href="./">
                  <button class="btn btn-upload">重新上传</button>
                </a>
               
               
  
    
              </div>
              
  
            </div>
            
          </div>
        </div>
        
        


        



      <div class="col-10 col-centered" style="max-width: 864px;margin-top: 60px;">
        <div class="column">
          <div class="row" style="height: 40px;margin-bottom: 50px;">
            <div style="color: black;">
            
              <span data-feather="book" style="stroke-width:1.5;width: 30px;height: 30px;color:#F3C583;"></span>
              <p style="color: #5F5F5F;margin-top:10px;font-weight: 400;">操作流程</p>
            </div>
            
          </div>
          <div class="row" style="height: 200px;">
            <div class="col-6"> 
              <div class="row">
                <div class="col-4 circle">1</div>
                <div class="col-8 " style="color:black;margin-top: 86px;text-align: left;padding-left: 40px;color: #5F5F5F;">-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下载【销售明细帐】</div>
              </div>
              

            </div>
            <div class="col-6">
              <img src="/static/hmtool/pic/pic1.png" style="margin-top: 15px;">
            </div>
          </div>
          <div class="row" style="height: 200px;">
            <div class="col-6"> 
              <div class="row">
                <div class="col-4 circle">2</div>
                <div class="col-8 " style="margin-top: 86px;text-align: left;padding-left: 40px;color: #5F5F5F;">-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上传对应文件</div>
              </div>
            </div>
            <div class="col-6" > 
              <img src="/static/hmtool/pic/pic2.png" style="height:100px;margin-top: 40px;border: 1px dashed #F3C583;">
            </div>
          </div>
          <div class="row" style="height: 200px;">
            <div class="col-6"> 
              <div class="row">
                <div class="col-4 circle">3</div>
                <div class="col-8 " style="margin-top: 86px;text-align: left;padding-left: 40px;color: #5F5F5F;">-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下载对应分析</div>
              </div>
            </div>
            <div class="col-6"> 
              <img src="/static/hmtool/pic/pic3.png" style="height:100px;margin-top: 40px;border: 1px dashed #F3C583;">
            </div>
          </div>


        </div>
      </div>
      
      <div class=' px-0' style="background-color: #FAFAFA;">
        <div style="margin-top:60px;padding:20px 0 20px 0;">
            <div class="content-text text-center" style="text-align:left;color:white;font-size: 10px;font-weight:100; text-shadow: none;color: #000;">@Eric</div>

             
        </div>
    
      </div>
      

    </div>

{% endblock %}


{% block js %}


<script>
  (function () {
        feather.replace()
    })()


  $(document).on("scroll", function(){
        if ($(document).scrollTop() > 60){
          if (document.getElementById('stuckNav') == null){
            var newNav = $('.nav-wrapper').clone(true);
            newNav.attr('id', 'stuckNav');
            $('.nav-wrapper').append(newNav);

          }
          

        }
        else
        {
          $('#stuckNav').remove();
        }
    });

  
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data:{
      file_name: '',
      response: '',
      Datas: {
        'animals': [
              {"name": "cat", "category": "animal"}
              ,{"name": "dog", "category": "animal"}
              ,{"name": "pig", "category": "animal"}
            ],
        'pokemons': [
                    {"name": "pikachu", "category": "pokemon"}
                    ,{"name": "Arbok", "category": "pokemon"}
                    ,{"name": "Eevee", "category": "pokemon"}
                  ]
      },
    },
    methods:{
        dragover(event) {
          event.preventDefault();
          if (!event.currentTarget.classList.contains('drag-in')) {
            event.currentTarget.classList.add('drag-in');
          }
        },
        dragleave(event) {
          event.currentTarget.classList.remove('drag-in');
        },
        get_file(){          
          document.getElementById('file').click()      
        },
        drop(event) {
          event.preventDefault();
          this.$refs.file.files = event.dataTransfer.files;
          this.upload()
          event.currentTarget.classList.remove('drag-in');
        },
        upload(){

            const formData = new FormData();               
            let file_info = document.getElementById('file');
            let file = file_info.files[0];
            this.file_name = file.name
            var extension = file.name.substring(file.name.lastIndexOf(".") + 1)
            

            if( extension == 'xlsx'){
              document.getElementById("upload").classList.add("hide")
              document.getElementById("uploading").classList.remove("hide")
              formData.append(`host_excel`, file);
              setTimeout(() => { 

                axios.post(``, formData, {
                  headers: {'Content-Type': 'multipart/form-data'},
                
                }).then((response)=>{
                  document.getElementById("uploading").classList.add("hide")
                  document.getElementById("uploaded").classList.remove("hide")

                  
                  if (response.data['product_brand'] == null){
                    document.getElementById("uploaded").classList.add("hide")
                    document.getElementById("uploaded-error").classList.remove("hide")

                  } else {
                    this.response = response.data
                  }

                  
                  
                }).catch()

              }, 100);
            } else {
              alert('请上传excel文件')
            }
            
        },
        sheet_from_array_of_arrays(data) {
            const ws = {};
            const range = {s: {c:10000000, r:10000000}, e: {c:0, r:0 }};
            for(let R = 0; R !== data.length; ++R) {
            for(let C = 0; C !== data[R].length; ++C) {
            if(range.s.r > R) range.s.r = R;
            if(range.s.c > C) range.s.c = C;
            if(range.e.r < R) range.e.r = R;
            if(range.e.c < C) range.e.c = C;

            const cell = {v: data[R][C], s: {
              font: { name: "宋体", sz: 11, color: { auto: 1 } },
              border: {
              color: { auto: 1 }
              },
              alignment: {
              wrapText: 0,
              horizontal: "center",
              vertical: "center",
              indent: 0
              }
            }};
            if(cell.v == null) continue;
            const cell_ref = XLSX.utils.encode_cell({c:C,r:R});
            if(typeof cell.v === 'number') cell.t = 'n';
            else if(typeof cell.v === 'boolean') cell.t = 'b';
            else if(cell.v instanceof Date) {
            cell.t = 'n'; cell.z = XLSX.SSF._table[14];
            cell.v = this.dateNum(cell.v);
            }
            else cell.t = 's';
            ws[cell_ref] = cell;
            }
            }
            /* TEST: proper range */
            if(range.s.c < 10000000) ws['!ref'] = XLSX.utils.encode_range(range);
            return ws;
        },

        sheet2blob(sheet, sheetName,sheet2, sheetName2) {
          sheetName = sheetName || 'sheet1';
          sheetName2 = sheetName2 || 'sheet2';
          const workbook = {
          SheetNames: [sheetName, sheetName2],
          Sheets: {}
          };
          workbook.Sheets[sheetName] = sheet
          workbook.Sheets[sheetName2] = sheet2
          const wopts = {
          bookType: 'xlsx', 
          bookSST: false, 
          type: 'binary'
          };
         
          const wbout = XLSX.write(workbook, wopts,);
          const blob = new Blob([s2ab(wbout)], {type: "application/octet-stream"});
          function s2ab(s) {
          const buf = new ArrayBuffer(s.length);
          const view = new Uint8Array(buf);
          for (let i=0; i!==s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
          return buf;
          }
          return blob;
        },

        export_excel(){ 

          
          for (year of this.response.year_list){
            var title = this.response['product_brand'] + '渠道' + year + '年采购情况'
            var index = 1
            var index_list = []

            let aoa = [[title]]
            index = index + 2 
            index_list.push(index)
            aoa.push([])
            aoa.push.apply(aoa, this.response[year].total)
            index = index + this.response[year].total.length + 2
            index_list.push(index)
            aoa.push([])
            aoa.push(['采购数量'])
            aoa.push.apply(aoa, this.response[year].by_client_quantity)
            index = index + this.response[year].by_client_quantity.length + 2
            index_list.push(index)
            aoa.push([])
            aoa.push(['采购金额'])
            aoa.push.apply(aoa, this.response[year].by_client_payment)
            
            var sheet = this.sheet_from_array_of_arrays(aoa);
            

            const mergeTitle = [
              {
                s: {r: 0, c: 0},
                e: {r: 1, c: 13}
              },
              {
                s: {r: index_list[1]-2, c: 0},
                e: {r: index_list[1]-2, c: 13}
              },
              {
                s: {r: index_list[2]-2, c: 0},
                e: {r: index_list[2]-2, c: 13}
              },
            ]
            sheet['!merges'] = mergeTitle.concat();

            var filterRef = 'A' + index_list[1] + ':' + 'N' + index_list[1]                


            // sheet['!autofilter'] = [{ref:"A3:N3" },{ref:"A8:N8"}]
            // sheet["!margins"] = { left: 1.0, right: 1.0, top: 1.0, bottom: 1.0, header: 0.5, footer: 0.5 }      
            const sheetCols = [
              { wch: 20} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 

            ];   

            sheet['!cols'] = sheetCols;
            for (i of ['A','B','C','D','E','F','G','H','I','J','K','L','M','N']){
              for (j of index_list){
                color_cell = i+j
                sheet[color_cell].s = {
                  font: {
                    name: '宋体',
                    sz: 11,
                    color: {rgb: "ffffff"},
                    bold: true,
                    italic: false,
                    underline: false,
                    // height: 20
                  },
                  alignment: {
                    horizontal: "center",
                    vertical: "center"
                  },
                  fill: {
                    fgColor: {rgb: "16365C"},
                  },
                };
              }
            }

            for (i of ['A1','A'+(index_list[1]-1),'A'+(index_list[2]-1)]){
              sheet[i].s = {
                  font: {
                    name: '宋体',
                    sz: 11,
                    color: {rgb: "000000"},
                    bold: true,
                    italic: false,
                    underline: false,
                    // height: 20
                  },
                  border: {
                  color: { auto: 1 }
                  },
                  alignment: {
                    horizontal: "center",
                    vertical: "center"
                  },
                  fill: {
                    fgColor: {rgb: "ffffff"},
                  },
                };
            }

            for (i of ['B','C','D','E','F','G','H','I','J','K','L','M','N']){
              color_cell = i+'5'
              sheet[color_cell].s = {
                font: { name: "宋体", sz: 11, color: { auto: 1 } },
                border: {
                color: { auto: 1 }
                },
                alignment: {
                wrapText: 0,
                horizontal: "center",
                vertical: "center",
                indent: 0
                },
                numFmt:  '_("$"* #,##0_);_("$"* (#,##0);_("$"* "-"??_);_(@_)'                 
              };
            }
       
            for (i of ['B','C','D','E','F','G','H','I','J','K','L','M','N']){
              var j = index_list[2] + 1
              var end = index_list[2] + this.response[year].by_client_payment.length
              

              while (j < end) {
                color_cell = i+j
                sheet[color_cell].s = {
                  font: { name: "宋体", sz: 11, color: { auto: 1 } },
                  border: {
                  color: { auto: 1 }
                  },
                  alignment: {
                  wrapText: 0,
                  horizontal: "center",
                  vertical: "center",
                  indent: 0
                  },
                  numFmt:  '_("$"* #,##0_);_("$"* (#,##0);_("$"* "-"??_);_(@_)'                 
                };

                j = j + 1
              } 
            }

            

            var title = this.response['product_brand'] + '单品'+ year +'年采购情况'
            var index = 1
            var index_list = []

            let aoa2 = [[title]]
            index = index + 2 
            index_list.push(index)
            aoa2.push([])
            for (i of this.response[year].total){
              var total_row = []
              total_row.push(i[0])
              total_row.push(null)
              total_row.push(null)
              total_row.push.apply(total_row,i.slice(1,))
              aoa2.push(total_row)
            }
 
            index = index + this.response[year].total.length + 2
            index_list.push(index)
            aoa2.push([])
            aoa2.push(['单品数量'])
            aoa2.push.apply(aoa2, this.response[year].by_product_quantity)
            index = index + this.response[year].by_product_quantity.length + 2
            index_list.push(index)
            aoa2.push([])
            aoa2.push(['单品金额'])
            aoa2.push.apply(aoa2, this.response[year].by_product_payment)
            
            var sheet2 = this.sheet_from_array_of_arrays(aoa2);

            const mergeTitle2 = [
              {
                s: {r: 0, c: 0},
                e: {r: 1, c: 15}
              },
              {
                s: {r: 2, c: 0},
                e: {r: 2, c: 2}
              },
              {
                s: {r: 3, c: 0},
                e: {r: 3, c: 2}
              },
              {
                s: {r: 4, c: 0},
                e: {r: 4, c: 2}
              },
              {
                s: {r: index_list[1]-2, c: 0},
                e: {r: index_list[1]-2, c: 15}
              },
              {
                s: {r: index_list[2]-2, c: 0},
                e: {r: index_list[2]-2, c: 15}
              },
            ]
            sheet2['!merges'] = mergeTitle2.concat();
            sheet2["!margins"] = { left: 1.0, right: 1.0, top: 1.0, bottom: 1.0, header: 0.5, footer: 0.5 }      
              
            const sheetCols2 = [
              { wch: 5} , 
              { wch: 5} , 
              { wch: 50} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
              { wch: 12} , 
            ];   
            sheet2['!cols'] = sheetCols2;
            for (i of ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P']){
              for (j of index_list){
                if ((i =='B' || i =='C') && j == 3){
                  continue
                } else {
                  color_cell = i+j
                  sheet2[color_cell].s = {
                    font: {
                      name: '宋体',
                      sz: 11,
                      color: {rgb: "ffffff"},
                      bold: true,
                      italic: false,
                      underline: false,
                      // height: 20
                    },
                    alignment: {
                      horizontal: "center",
                      vertical: "center"
                    },
                    fill: {
                      fgColor: {rgb: "16365C"},
                    },
                  };

                }
                

                
              }
            }

            for (i of ['A1','A'+(index_list[1]-1),'A'+(index_list[2]-1)]){
              sheet2[i].s = {
                  font: {
                    name: '宋体',
                    sz: 11,
                    color: {rgb: "000000"},
                    bold: true,
                    italic: false,
                    underline: false,
                    // height: 20
                  },
                  border: {
                  color: { auto: 1 }
                  },
                  alignment: {
                    horizontal: "center",
                    vertical: "center"
                  },
                  fill: {
                    fgColor: {rgb: "ffffff"},
                  },
                };
            }

            for (i of ['D','E','F','G','H','I','J','K','L','M','N','O','P']){
              color_cell = i+'5'
              sheet2[color_cell].s = {
                font: { name: "宋体", sz: 11, color: { auto: 1 } },
                border: {
                color: { auto: 1 }
                },
                alignment: {
                wrapText: 0,
                horizontal: "center",
                vertical: "center",
                indent: 0
                },
                numFmt:  '_("$"* #,##0_);_("$"* (#,##0);_("$"* "-"??_);_(@_)'                 
              };
            }

            for (i of ['D','E','F','G','H','I','J','K','L','M','N','O','P']){
              var j = index_list[2] + 1
              var end = index_list[2] + this.response[year].by_product_payment.length
              

              while (j < end) {
                color_cell = i+j
                sheet2[color_cell].s = {
                  font: { name: "宋体", sz: 11, color: { auto: 1 } },
                  border: {
                  color: { auto: 1 }
                  },
                  alignment: {
                  wrapText: 0,
                  horizontal: "center",
                  vertical: "center",
                  indent: 0
                  },
                  numFmt:  '_("$"* #,##0_);_("$"* (#,##0);_("$"* "-"??_);_(@_)'                 
                };

                j = j + 1
              } 
            }
            var wbBlob = this.sheet2blob(sheet, '渠道分析',sheet2, '单品分析')
            var today = moment().format('YYMMDD');
            var fileName =  this.response['product_brand'] + ' ' + year +'年销售明细帐分析v'+today+'.xlsx'
            
            console.log(sheet)
            window.saveAs(wbBlob, fileName)
          
            
          }
                

        },
       
        export_excel_test(){
          var ws = this.sheet_from_array_of_arrays([ ["Foo", "Bar", "Baz", "Qux"], [1,2,3,4], [2,3,4,5], [3,4,5,6] ]);
          ws['!autofilter'] = { ref:"A1:D4" }
          var wbBlob = this.sheet2blob(ws, '渠道分析',ws, '单品分析')
          window.saveAs(wbBlob, 'auto.xlsx')

        }
        
    }

  })

  

</script>
{% endblock %}