{% extends 'base.html'%}



{% block css %}
{% endblock css %}

{% block project%}
 active
{% endblock%}

{% block main %}
<div class='wrapper px-0 col-12' style="">
    <div class='container-xl shadow intro' style=" height: 2000px;background-color: #F9F9F9;z-index:98">
        <div class='row'>
                <div style="height: 200px;width: 200px;background-color: pink;margin: 300px auto" >
                    <a href="/dash/dashMain">
                        dd
                    </a>
                </div>
        </div>
        
    </div>
</div>
{% endblock main %}

{% block js %}
{% endblock js %}